<%= form_for(@guitar) do |f| %>
  <% if @guitar.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@guitar.errors.count, "error") %> prohibited this guitar from being saved:</h2>

      <ul>
      <% @guitar.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :brand %><br />
    <%= f.text_field :brand, autocomplete: 'off' %>
  </div>

  <div class="field">
    <%= f.label :year %><br />
    <%= f.text_field :year, autocomplete: 'off' %>

    <span class="guitar-age">
      Your guitar is <span id="age"></span> year(s) old
    </div>

  </div>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
